# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\escritorio\JAVA\Prog2\Guias Practica\parcial2\Estructuras_No_Lineales\Grafos\Ejercicio1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
